@import '../../style/variables';

.char-content {
    &-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 318px);
        gap: 30px 25px;
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #232222;
            cursor: pointer;
            list-style-type: none;
            &-img {
                width: 100%;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-name {
                font-size: 22px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                padding: 15px;
            }
            &:hover {
                box-shadow: 0 5px 20px $main-color;
                transform: translateY(-7px);
            }
            &-selected {
                transform: translateY(-8px);
                box-shadow: 0 5px 20px $main-color;
            }
            &-enter {
                opacity: 0.2;
            }
            &-enter-active {
                opacity: 1;
                transition: opacity .5s;
            }
            &-exit {
                opacity: 1;
            }
            &-exit-active {
                opacity: 0;
                transition: opacity .5s;
            }
        }
    }
    &-btn {
        margin: 45px auto 0 auto;
    }
}